@import "../base";

#navbar {
  position: sticky;
  top: 0;
  height: $navbar-height;
  background-color: #1c1c28;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  z-index: 10;
  backdrop-filter: blur(25px);

  &.add-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgba($navbar-bg-color, 0.1);
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 8px;
  width: 100%;
  min-width: 100px;
}

.home-link,
.navbar-link {
  color: $color-text-highlight-dark;
  /* unvisited link */
  text-decoration-line: none;

  &:link {
    color: $color-text-highlight-dark;
  }

  /* visited link */
  &:visited {
    color: $color-text-highlight-dark;
  }

  /* mouse over link */
  &:hover {
    background: linear-gradient(147.14deg, #FF8800 6.95%, #E63535 93.05%);
  }

  /* selected link */
  &:active {
    color: $color-text-highlight-dark;
  }

  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.home-link:is(:focus, :hover) {
  //color: $navbar-text-color-focus;
  //background-color: $navbar-bg-contrast;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  backdrop-filter: blur(25px);
}

.navbar-link:is(:focus, :hover) {
  //color: var(--font-color);
  //background-color: $navbar-bg-contrast;
}

.navbar-logo {
  background-color: var(--font-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background: linear-gradient(147.14deg, #FF8800 6.95%, #E63535 93.05%);
  transition: all 0.5s;
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: #FF8800;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  opacity: 1;
  margin: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  @media screen and (max-width: 767px) {
    background-color: rgba(#0e1129, 0.7);
    backdrop-filter: blur(5px);
  }
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
  backdrop-filter: blur(5px);
}

@media screen and (min-width: 1100px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}