@import "../base";

.postCard {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #8b8db0;
  padding: 8px;
  border-radius: 8px;

  &__content {
    display: flex;
    text-wrap: normal;
  }

  &__images {
    display: flex;
    //width: auto;
    //height: auto;
    //max-width: 500px;
    //padding: 10px;
    gap: 10px;
    //flex-wrap: wrap;
    column-count: 3;
    column-width: 33%;
    margin: 12px 0px;

    @media screen and (max-width: 900px) {
      column-count: 2;
    }

    &__image {
      cursor: pointer;
      transition: all 350ms ease;
      margin-bottom: 12px;

      &:hover {
        filter: opacity(0.8);
      }
    }
  }
}