@import "../base";

.postCard {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #8b8db0;
  padding: 8px;
  border-radius: 8px;

  &__content {
    display: flex;
    text-wrap: normal;
  }

  &__category {
    //background: linear-gradient(147.14deg, #73DFE7 6.95%, #0063F7 93.05%);
    color: #eee;
    text-shadow: 1px 1px 10px #28293d;
    width: max-content;
    padding: 1px 10px;
    border-radius: 8px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -20px;

    @each $type, $gradient in $post-types {
      &__#{$type} {
        background: $gradient;
      }
    }
  }


  &__images {
    display: flex;
    //width: auto;
    //height: auto;
    //max-width: 500px;
    //padding: 10px;
    gap: 10px;
    //flex-wrap: wrap;
    column-count: 3;
    column-width: 33%;

    @media screen and (max-width: 900px) {
      column-count: 2;
    }

    &__image {
      cursor: pointer;
      transition: all 350ms ease;
      margin-bottom: 12px;

      &:hover {
        filter: opacity(0.8);
      }
    }
  }
}