@import "../base";

.postCard {
  display: flex;
  flex-direction: column;
  position: relative;

  &__images {
    display: flex;
    //width: auto;
    //height: auto;
    //max-width: 500px;
    //padding: 10px;
    gap: 10px;
    //flex-wrap: wrap;
    column-count: 3;
    column-width: 33%;
    padding: 0 12px;

    @media screen and (max-width: 900px) {
      column-count: 2;
    }

    &__image {
      cursor: pointer;
      transition: all 350ms ease;
      margin-bottom: 12px;

      &:hover {
        filter: opacity(0.8);
      }
    }
  }
}