@import "../../scss/base";
@import "../../scss/animations/forwardTriangle";
@import "../../scss/animations/bulbBlinking";

$background-image-gradient-dark: linear-gradient(to bottom right, rgba(87, 86, 86, 0.9), rgba(152, 151, 151, 0.7));
$background-image-gradient-purple: linear-gradient(to bottom right, rgba(106, 6, 236, 0.9), rgba(220, 0, 240, 0.7));


.circle-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  position: relative;
  //background: rgba(#b9f4bc, 1);
  border-radius: 50%;
}

.app-logo {
  position: absolute;
  z-index: -1;
}

#play-icon {
  overflow: hidden;
}

#tri-first {
  /*   display: none; */
  position: absolute;
  left: -20px;
}

#tri-second {
  fill: #6ed69a;
}

#tri-third {
  margin-left: -3px;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding-top: 10px;
  width: 100%;
  align-items: center;

  @media screen and (max-width: 788px) {
    margin-top: 92px;
  }

  .img {
    opacity: 0.1;
  }

  &__hero {
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-around;

    &__animation {
      max-height: 500px;
      max-width: 500px;
      margin-top: -50px;
      //min-width: 240px;
      aspect-ratio: 1/1;

      @media screen and (max-width: 576px) {
        width: 50%;
        margin-top: 0px;
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-text-body-dark;
      width: 45%;
    }
  }

  &__tradingSteps {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    //position: relative;
    border-radius: 32px;

    &__step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 240px;
      min-width: 340px;
      max-width: 480px;
      padding: 16px 24px;
      cursor: pointer;
      //background: #2F3047;
      //box-shadow: 0px 24px 40px rgba(28, 28, 40, 0.5);
      border: #2F3047 1px solid;
      color: $color-text-body-dark;
      border-radius: 8px;
    }
  }

  &__liveStream {
    position: relative;
  }
}