@import "../../scss/base";
@import "../../scss/animations/forwardTriangle";
@import "../../scss/animations/bulbBlinking";
@import "../../scss/animations/hexagonRotating";

$background-image-gradient-dark: linear-gradient(to bottom right, rgba(87, 86, 86, 0.9), rgba(152, 151, 151, 0.7));
$background-image-gradient-purple: linear-gradient(to bottom right, rgba(106, 6, 236, 0.9), rgba(220, 0, 240, 0.7));


.home {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding-top: 10px;
  width: 100%;
  align-items: center;

  @media screen and (max-width: 788px) {
    margin-top: 92px;
  }

  .img {
    opacity: 0.1;
  }

  &__hero {
    display: flex;
    //flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    &__animation {
      max-height: 500px;
      max-width: 500px;
      margin-top: -50px;
      //min-width: 240px;
      aspect-ratio: 1/1;

      @media screen and (max-width: 576px) {
        width: 50%;
        margin-top: 0px;
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-text-body-dark;
      width: 50%;
      @media screen and (max-width: 768px) {
        h1 {
          font-size: 18px;
        }
      }
    }
  }

  &__tradingSteps {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    //position: relative;
    border-radius: 32px;

    &__step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 240px;
      min-width: 340px;
      max-width: 480px;
      padding: 16px 24px;
      cursor: pointer;
      background: linear-gradient(to bottom right, rgba(#fff, 0.1), rgba(#fff, 0.1));
      //box-shadow: 0px 24px 40px rgba(#0e1129, 1);
      border-radius: 8px;
      //backdrop-filter: blur(10px);
      //border-radius: 8px;
      //box-shadow: inset 0px 0px 2px 0px rgba(102, 152, 250, 1);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.32);
      color: $color-text-body-dark;
    }

    &__screening {
      //background-color: rgba(darkgreen, 0.6);
      background-color: darkolivegreen;
    }

    &__timing {
      background-color: rgba(darkslateblue, 0.7);
    }

    &__managing {
      //background-color: #3A496B;
      background-color: #5E2F6B;
    }

    &__selling {
      //background-color: rgba(darkgoldenrod, 0.8);
      background-color: #785807;
    }

    &__markethealth {
      background-color: #B85B48;
    }

    &__mindset {
      background-color: #004D4D;
      //background-color: rgba(darkcyan, 0.6);
    }


  }

  &__liveStream {
    position: relative;
  }
}