.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 576px) {
    .container {
      width: 95%;
      padding-right: 16px;
      padding-left: 16px; } }
  @media screen and (min-width: 576px) {
    .container {
      width: calc(94%);
      max-width: 1380px;
      padding-right: 24px;
      padding-left: 24px; } }

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 16px;
  align-self: center;
  font-style: italic;
  color: #f3f3f3;
  gap: 20px;
  font-size: 18px;
  width: 100%; }
  @media screen and (max-width: 760px) {
    .information {
      padding: 12px 16px; } }
  .information__important {
    background-color: rgba(211, 211, 211, 0.2); }
  .information__highlight {
    font-weight: bold; }

.externalWebsiteLink {
  text-decoration: none;
  color: mediumblue;
  font-style: italic; }
  .externalWebsiteLink:visited {
    color: purple; }
  .externalWebsiteLink:hover {
    text-decoration: underline; }
  .externalWebsiteLink:active {
    color: red; }
  .externalWebsiteLink:focus {
    outline: 2px dashed gray; }

#navbar {
  position: sticky;
  top: 0;
  height: 64px;
  background-color: #0e1129;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  z-index: 10;
  backdrop-filter: blur(25px); }
  #navbar.add-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.1); }

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center; }

.navbar-item {
  margin: 8px;
  width: 100%;
  min-width: 100px; }

.home-link,
.navbar-link {
  color: white;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: all 0.5s ease-in-out; }

.home-link:is(:focus, :hover) {
  color: white;
  background-color: #7232fa; }

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  backdrop-filter: blur(25px); }

.navbar-link:is(:focus, :hover) {
  color: white; }

.navbar-logo {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em; }

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: #7232fa;
  transition: all 0.5s; }

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: #7232fa; }

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px; }

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg); }

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0; }

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg); }

#navbar-menu {
  position: fixed;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0; }

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  opacity: 1;
  visibility: visible; }

.navbar-links {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  opacity: 1;
  margin: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s; }
  @media screen and (max-width: 767px) {
    .navbar-links {
      background-color: rgba(14, 17, 41, 0.7);
      backdrop-filter: blur(5px); } }

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
  backdrop-filter: blur(5px); }

@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none; }
  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%; }
  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%; } }

.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 576px) {
    .container {
      width: 95%;
      padding-right: 16px;
      padding-left: 16px; } }
  @media screen and (min-width: 576px) {
    .container {
      width: calc(94%);
      max-width: 1380px;
      padding-right: 24px;
      padding-left: 24px; } }

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 16px;
  align-self: center;
  font-style: italic;
  color: #f3f3f3;
  gap: 20px;
  font-size: 18px;
  width: 100%; }
  @media screen and (max-width: 760px) {
    .information {
      padding: 12px 16px; } }
  .information__important {
    background-color: rgba(211, 211, 211, 0.2); }
  .information__highlight {
    font-weight: bold; }

.externalWebsiteLink {
  text-decoration: none;
  color: mediumblue;
  font-style: italic; }
  .externalWebsiteLink:visited {
    color: purple; }
  .externalWebsiteLink:hover {
    text-decoration: underline; }
  .externalWebsiteLink:active {
    color: red; }
  .externalWebsiteLink:focus {
    outline: 2px dashed gray; }

.spinning-hexagon {
  height: auto;
  width: auto; }

.animated-svg {
  height: 50px;
  width: 50px; }

#lines {
  stroke: rgba(255, 255, 255, 0.8); }

.animated-svg #symbol {
  transform-origin: center center;
  animation-name: spinFull;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

.animated-svg #colors {
  transform-origin: center center;
  animation-name: spinPiece;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

.animated-svg #lines {
  transform-origin: center center;
  animation-name: spinBackHalf;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

#box-connectors {
  stroke: #777777; }

@keyframes spinFull {
  0%, 25% {
    transform: rotate(0deg); }
  25%, 50% {
    transform: rotate(360deg); }
  50%, 75% {
    transform: rotate(360deg); }
  75%, 100% {
    transform: rotate(-360deg); } }

@keyframes spinPiece {
  0%, 25% {
    transform: rotate(0deg); }
  25%, 50% {
    transform: rotate(60deg); }
  50%, 75% {
    transform: rotate(60deg); }
  75%, 100% {
    transform: rotate(0deg); } }

@keyframes spinHalf {
  0%, 25% {
    transform: rotate(0deg) scale(1); }
  25%, 50% {
    transform: rotate(180deg) scale(1); }
  50%, 75% {
    transform: rotate(180deg) scale(1); }
  75%, 100% {
    transform: rotate(0deg) scale(1); } }

@keyframes spinBackHalf {
  0%, 25% {
    transform: rotate(0deg); }
  25%, 50% {
    transform: rotate(-180deg); }
  50%, 75% {
    transform: rotate(-180deg); }
  75%, 100% {
    transform: rotate(0deg); } }

@keyframes spinBackFull {
  0%, 25% {
    transform: rotate(0deg); }
  25%, 50% {
    transform: rotate(-360deg); }
  50%, 75% {
    transform: rotate(-360deg); }
  75%, 100% {
    transform: rotate(0deg); } }

#bulb-svg {
  transform: rotate(30deg);
  height: 60px;
  width: 60px; }

#bulb {
  filter: drop-shadow(0px 10px 6px rgba(255, 204, 0, 0.4));
  border-radius: 2px; }

.circle-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  position: relative;
  border-radius: 50%; }

.app-logo {
  position: absolute;
  z-index: -1; }

#play-icon {
  overflow: hidden; }

#tri-first {
  /*   display: none; */
  position: absolute;
  left: -20px; }

#tri-second {
  fill: #6ed69a; }

#tri-third {
  margin-left: -3px; }

.home {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding-top: 10px;
  width: 100%;
  align-items: center; }
  @media screen and (max-width: 788px) {
    .home {
      margin-top: 92px; } }
  .home .img {
    opacity: 0.1; }
  .home__hero {
    display: flex;
    justify-content: space-around; }
    .home__hero__animation {
      max-height: 500px;
      max-width: 500px;
      margin-top: -50px;
      aspect-ratio: 1/1; }
      @media screen and (max-width: 576px) {
        .home__hero__animation {
          width: 50%;
          margin-top: 0px; } }
    .home__hero__content {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f3f3f3;
      width: 45%; }
  .home__tradingSteps {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 32px; }
    .home__tradingSteps__step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 240px;
      min-width: 340px;
      max-width: 480px;
      padding: 16px 24px;
      cursor: pointer;
      border: #2F3047 1px solid;
      color: #f3f3f3;
      border-radius: 8px; }
  .home__liveStream {
    position: relative; }

.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 576px) {
    .container {
      width: 95%;
      padding-right: 16px;
      padding-left: 16px; } }
  @media screen and (min-width: 576px) {
    .container {
      width: calc(94%);
      max-width: 1380px;
      padding-right: 24px;
      padding-left: 24px; } }

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 16px;
  align-self: center;
  font-style: italic;
  color: #f3f3f3;
  gap: 20px;
  font-size: 18px;
  width: 100%; }
  @media screen and (max-width: 760px) {
    .information {
      padding: 12px 16px; } }
  .information__important {
    background-color: rgba(211, 211, 211, 0.2); }
  .information__highlight {
    font-weight: bold; }

.externalWebsiteLink {
  text-decoration: none;
  color: mediumblue;
  font-style: italic; }
  .externalWebsiteLink:visited {
    color: purple; }
  .externalWebsiteLink:hover {
    text-decoration: underline; }
  .externalWebsiteLink:active {
    color: red; }
  .externalWebsiteLink:focus {
    outline: 2px dashed gray; }

.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 576px) {
    .container {
      width: 95%;
      padding-right: 16px;
      padding-left: 16px; } }
  @media screen and (min-width: 576px) {
    .container {
      width: calc(94%);
      max-width: 1380px;
      padding-right: 24px;
      padding-left: 24px; } }

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 16px;
  align-self: center;
  font-style: italic;
  color: #f3f3f3;
  gap: 20px;
  font-size: 18px;
  width: 100%; }
  @media screen and (max-width: 760px) {
    .information {
      padding: 12px 16px; } }
  .information__important {
    background-color: rgba(211, 211, 211, 0.2); }
  .information__highlight {
    font-weight: bold; }

.externalWebsiteLink {
  text-decoration: none;
  color: mediumblue;
  font-style: italic; }
  .externalWebsiteLink:visited {
    color: purple; }
  .externalWebsiteLink:hover {
    text-decoration: underline; }
  .externalWebsiteLink:active {
    color: red; }
  .externalWebsiteLink:focus {
    outline: 2px dashed gray; }

.selection {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(32px); }
  .selection__content {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify; }

.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 576px) {
    .container {
      width: 95%;
      padding-right: 16px;
      padding-left: 16px; } }
  @media screen and (min-width: 576px) {
    .container {
      width: calc(94%);
      max-width: 1380px;
      padding-right: 24px;
      padding-left: 24px; } }

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 16px;
  align-self: center;
  font-style: italic;
  color: #f3f3f3;
  gap: 20px;
  font-size: 18px;
  width: 100%; }
  @media screen and (max-width: 760px) {
    .information {
      padding: 12px 16px; } }
  .information__important {
    background-color: rgba(211, 211, 211, 0.2); }
  .information__highlight {
    font-weight: bold; }

.externalWebsiteLink {
  text-decoration: none;
  color: mediumblue;
  font-style: italic; }
  .externalWebsiteLink:visited {
    color: purple; }
  .externalWebsiteLink:hover {
    text-decoration: underline; }
  .externalWebsiteLink:active {
    color: red; }
  .externalWebsiteLink:focus {
    outline: 2px dashed gray; }

.timing p {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: justify; }

.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 576px) {
    .container {
      width: 95%;
      padding-right: 16px;
      padding-left: 16px; } }
  @media screen and (min-width: 576px) {
    .container {
      width: calc(94%);
      max-width: 1380px;
      padding-right: 24px;
      padding-left: 24px; } }

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 16px;
  align-self: center;
  font-style: italic;
  color: #f3f3f3;
  gap: 20px;
  font-size: 18px;
  width: 100%; }
  @media screen and (max-width: 760px) {
    .information {
      padding: 12px 16px; } }
  .information__important {
    background-color: rgba(211, 211, 211, 0.2); }
  .information__highlight {
    font-weight: bold; }

.externalWebsiteLink {
  text-decoration: none;
  color: mediumblue;
  font-style: italic; }
  .externalWebsiteLink:visited {
    color: purple; }
  .externalWebsiteLink:hover {
    text-decoration: underline; }
  .externalWebsiteLink:active {
    color: red; }
  .externalWebsiteLink:focus {
    outline: 2px dashed gray; }

.livestream {
  display: flex;
  width: 100%;
  margin-top: 64px;
  padding-top: 10px; }
  @media screen and (max-width: 788px) {
    .livestream {
      margin-top: 92px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  position: relative;
  line-height: 1.2;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 15px; } }

h1 {
  color: #fafafc;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    h1 {
      font-weight: 500; } }

p {
  color: #f3f3f3;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: 100%;
  letter-spacing: 0.2px;
  line-height: 28px; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 15px; } }

#root {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #0e1129; }

#tradingView {
  position: absolute;
  top: 64px;
  height: 74px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #tradingView {
      height: 46px; } }
