$color-background-light: #fafafa;
//$color-background-dark: #272a42;
//$color-background-dark: #0e1129;
$color-background-dark: rgba(40, 41, 61, 1);
//$color-background-dark: rgba(28, 28, 40, 1);
//$color-border-light: #eaeaea;
$color-font-mute: rgba(105, 105, 105, 1);
$color-font-active: #0070f3;
$color-button-mute: #0070f3;
$color-button-hover: #fff;
$color-button-dark: rgb(255, 255, 255);

$navbar-height: 64px;
$navbar-bg-color: rgba(255, 255, 255, 1);
$navbar-text-color: rgba(114, 50, 250, 1);
$navbar-text-color-focus: white;
$navbar-bg-contrast: rgba(114, 50, 250, 1);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

h1 {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  @media screen and (max-width: 576px) {
    font-size: 16px;
    //font-weight: 500;
  }
}

.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 576px) {
    width: 95%;
    padding-right: 16px;
    padding-left: 16px;
  }

  @media screen and (min-width: 576px) {
    width: calc(94%);
    max-width: 1380px;
    padding-right: 25px;
    padding-left: 25px;
  }

  //@media (min-width: 768px) {
  //  width: 720px;
  //}
  //
  //@media (min-width: 992px) {
  //  width: 940px;
  //}
  //
  //@media (min-width: 1200px) {
  //  width: 1140px;
  //}
  //
  //@media (min-width: 1280px) {
  //  width: 1220px;
  //}
  //
  //@media (min-width: 1400px) {
  //  width: 1320px;
  //}
}

.information {
  padding: 15px 30px;
  border-radius: 15px;
  align-self: center;
  font-style: italic;

  @media screen and (max-width: 760px) {
    padding: 15px 20px;
  }

  &__important {
    background-color: rgba(lightgray, 0.2);
  }

  &__highlight {
    background-color: rgba(41, 41, 41, 0.1);
    font-weight: bold;
  }
}

.externalWebsiteLink {
  text-decoration: none;
  color: mediumblue;
  font-style: italic;

  &:link {

  }

  &:visited {
    color: purple;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: red;
  }

  &:focus {
    outline: 2px dashed gray;
  }
}


