@import "components/navHeader";
@import "pages/home";
@import "base";
@import "layout";
@import "pages/trading/selection";
@import "pages/trading/timing";
@import "pages/auth/login";
@import "pages/auth/profile";
@import "pages/auth/register";
@import "pages/trading/livestream";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  //background: linear-gradient(to right, rgba(215, 219, 215, 0.4), rgba(215, 200, 215, 0.4));
  line-height: 1.6;
  letter-spacing: -0.06px;
  //color: rgba(41, 41, 41, 1);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

h1 {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#root {
  position: absolute;
  left: 0;
  right: 0;
  background-color: $color-background-dark;
  //background-image: url(../assets/img.png), linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  //background-blend-mode: lighten;
}

#tradingView {
  position: absolute;
  top: 64px;
  height: 74px;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 46px;
  }
}


