// css for forward triangle animation
.circle-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  position: relative;
  //background: rgba(#b9f4bc, 1);
  border-radius: 50%;
}

.app-logo {
  position: absolute;
  z-index: -1;
}

#play-icon {
  overflow: hidden;
}

#tri-first {
  /*   display: none; */
  position: absolute;
  left: -20px;
}

#tri-second {
  fill: #6ed69a;
}

#tri-third {
  margin-left: -3px;
}

